

body {
    font-family: Arial, sans-serif;
    color: #333; /*text color*/
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;  /*inside of box*/
    background-image: url(images/artificial-intelligence-g2e04f3682_1920.jpg); 
    

    
}
a {
    color: orange;
    text-decoration: none;
    font-size: 15px;
    
}
h1 {
    color: #444444;
    margin-bottom: 20px;
}
h2 {
    color: #444444;
    margin-top: 40px;
    margin-bottom: 20px;
}
ol {
    margin-left: 20px;
}

nav{
   text-align: center;
   width: 100%;
   background-color:#380b0381;
   height: 100px;
}

ul{
    
}

.container{
    background-color: rgb(255, 255, 255); /*background colour behind text*/
}